@use "../abstracts/" as *;

.header {
  background: white;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 999;
  padding-block: 2rem;
  @include mq(medium) {
    padding-block: 0rem;
  }
}
