@use "../abstracts/" as *;

nav .button,
.hero__section .button,
footer .button {
  background-color: $color-accent-600;
  color: $color-neutral-100;
  padding: 1.438rem 2.813rem;
  transition: background-color 350ms ease-out;
  cursor: pointer;
  &:hover {
    background-color: hsl(0, 100, 79%);
  }
  &[data-type="primary"] {
    @include mq(medium) {
      background-color: $color-primary-800;
      padding-inline: 1.188rem;
    }
    @include mq(large) {
      padding-inline: 2.813rem;
    }
    &:hover {
      background-color: hsl(0, 0, 59%);
    }
  }
}
.services__section .button[data-type="secondary"] {
  width: fit-content;
  padding: 0.5rem 0;
  color: $color-accent-600;
  background-color: transparent;
  border-bottom: 1px solid $color-accent-600;
  cursor: pointer;
  &:hover {
    color: hsl(0, 100, 79%);
    border-bottom-color: hsl(0, 100, 79%);
  }
}

.project__section .button {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  &.next::before,
  &.previous::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-repeat: no-repeat;
  }

  &.previous::before {
    background-image: url("../assets/images/desktop/icon-arrow-previous.svg");
  }
  &.next::before {
    background-image: url("../assets/images/desktop/icon-arrow-next.svg");
  }
}
