/* FONT FACE */
@font-face {
  font-family: "Commissioner", sans-serif;
  font-weight: 800;
  src: url("./assets/fonts/CommissionerExtraBold.woff2") format("woff2"),
    url("./assets/fonts/CommissionerExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  src: url("./assets/fonts/CommissionerRegular.woff2") format("woff2"),
    url("./asset/font/CommissionerRegular.woff") format("woff");
}
