$sizes: (
  0: 0.563rem,
  1: 0.875rem,
  2: 1rem,
  3: 1.25rem,
  4: 1.813rem,
  5: 1.875rem,
  6: 1.5rem,
  7: 1.9rem,
  8: 2rem,
  9: 2.125rem,
  10: 2.438rem,
  11: 2.469rem,
  12: 2.5rem,
  13: 2.75rem,
  14: 3rem,
  15: 3.125rem,
  16: 3.5rem,
  17: 3.75rem,
  18: 4.375rem,
  19: 4.5rem,
  20: 4.375rem,
);

$size-0: 0.563rem;
$size-1: 0.875rem;
$size-2: 1rem;
$size-3: 1.25rem;
$size-4: 1.813rem;
$size-5: 1.875rem;
$size-6: 1.5rem;
$size-7: 1.9rem;
$size-8: 2rem;
$size-9: 2.125rem;
$size-10: 2.438rem;
$size-11: 2.469rem;
$size-12: 2.5rem;
$size-13: 2.75rem;
$size-14: 3rem;
$size-15: 3.125rem;
$size-16: 3.5rem;
$size-17: 3.75rem;
$size-18: 4.25rem;
$size-19: 4.313rem;
$size-20: 4.375rem;
